{% extends 'backoffice/layouts/base.html' %}

{% block title %} Reserves {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Nova Reserva</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Reserves</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#">Nova</a></li>

                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="card col-xl-12">
                <form method="post" action="{% url 'reservas_create' %}">
                    {% csrf_token %}
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h3 class="mb-0">Reserves</h3>
                            </div>
                            <div class="col-6 text-right">
                                <button type="submit" class="btn btn-sm btn-primary">Crear</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="heading-small text-muted mb-4">Informació d'Usuari</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-nom">Nom</label>
                                        <input type="text" id="input-nom" class="form-control"
                                               placeholder="Nom" value="{{ reserva.nombre_cliente }}" name="nombre_cliente">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-telefon">Telèfon</label>
                                        <input type="number" pattern="[0-9]{9}" id="input-telefon" class="form-control"
                                               placeholder="Telèfon" name="telefono" value="{{ reserva.telefono }}">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-dni">DNI</label>
                                        <input type="text" pattern="[0-9]{8}[A-Za-z]{1}" id="input-dni"
                                               class="form-control"
                                               placeholder="DNI" value="{{ reserva.DNI }}" name="DNI">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <h6 class="heading-small text-muted mb-4">Dades Reserva</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Data</label>
                                        <input id="input-data" class="form-control" placeholder="Data"
                                               value="{{ reserva.fecha | date:"Y-m-d" }}" type="date" name="fecha">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-hora-inici">Hora inici</label>
                                        <input id="input-hora-inicio" class="form-control" placeholder="Hora inici"
                                               value="{{ reserva.hora_inicio | time:"H:i" }}" type="time" name="hora_inicio">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-hora-final">Hora final</label>
                                        <input id="input-hora-final" class="form-control" placeholder="Hora final"
                                               value="{{ reserva.hora_fin  | time:"H:i" }}" type="time" name="hora_fin">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<hr class="my-4"/>
                        <h6 class="heading-small text-muted mb-4">Dades Reserva</h6>-->
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="select-tecnic">Tècnic</label>
                                        <select class="form-control" name="tecnico" id="exampleFormControlSelect1"
                                                control-id="ControlID-4">
                                            {% for t in tecnicos %}
                                                <option value="{{ t.id }}" {% if reserva.tecnico.id ==  t.id %} selected {% endif %} >{{ t.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="select-sala">Sala</label>
                                        <select class="form-control" name="sala">
                                            {% for s in salas %}
                                                <option value="{{ s.id }}" {% if reserva.sala.id ==  s.id %} selected {% endif %} >{{ s.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="select-material">Material</label>
                                        <select class="form-control" name="material">
                                            {% for m in materials %}
                                                <option value="{{ m.id }}" {% if reserva.material.id ==  m.id %} selected {% endif %} >{{ m.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{ reserva.id }}">
                </form>
            </div>
        </div>
    </div>

    {% include "backoffice/includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
