{% extends 'public/layouts/base-fullscreen.html' %}

{% block title %} Factures {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container-fluid" style="width: 80%;">
        <div class="row">
            <div class="card col-xl-12">
                 <div class="card-header border-0">
                    <h3 class="mb-0">Factures</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="budget">#</th>
                            <th scope="col" class="sort" data-sort="status">Nom client</th>
                            <th scope="col" class="sort" data-sort="status">DNI</th>
                            <th scope="col" class="sort" data-sort="status">Total</th>
                            <th scope="col" class="sort" data-sort="status">Data</th>
                            <th scope="col" class="sort" data-sort="status">Reserva</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for factura in facturas %}
                            <tr>
                                <td class="budget">
                                    {{ factura.id }}
                                </td>
                                <td>
                                    {{ factura.nombre_cliente }}
                                </td>
                                <td>
                                    {{ factura.DNI }}
                                </td>
                                <td>
                                    {{ factura.total }}
                                </td>
                                <td>
                                    {{ factura.fecha }}
                                </td>
                                <td>
                                    {{ factura.reserva }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{% url 'facturas_view' %}{{ factura.id }}">Veure</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
